<h1>Shopping Cart</h1>
<div class="row col-10">
  <p>
    You have {{ shoppingCartItemCount }} items in your shopoping cart.
  </p>
  <p>
    <button 
    (click)="clearCart()"
    class="btn btn-light btn-sm">Clear Shopping Cart</button>
  </p>
  <table class="table">
    <thead>
      <tr>
        <th></th>
        <th>Product</th>
        <th class="text-center" style="width: 230px">Quantity</th>
        <th class="text-right" style="width: 200px">price</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="shoppingCartItemCount > 0">
          <tr *ngFor="let productId of productIds">
              <td>
                <div [style.backgroundImage]="'url(' + cartItems[productId].product.imageUrl + ')'" class="thumbnail" ></div>
              </td>
              <td>
                {{ cartItems[productId].product.title }}
              </td>
              <td class="text-center" style="width: 230px">
                <product-quantity [product]="cartItems[productId].product" [shopping-cart]="cart">
                </product-quantity>
              </td>
              <td class="text-right">
                {{ cartItems[productId].quantity * cartItems[productId].product.price | currency:'USD':true }}
              </td>
            </tr>
      </ng-container>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th class="text-right">
          {{ totalPrice | currency:'USD':true }}
        </th>
      </tr>
    </tfoot>
  </table>
  <a routerLink="/check-out"
  class="btn btn-primary btn-sm">Check Out</a>
</div>